* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}

.inner-width {
    width: 100%;
    padding: 0 40px;
}

.navbar .inner-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.menu-toggle {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggle:focus {
    outline: none;
}

.menu-toggle span {
    display: block;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover {
    color: #48dbfb !important;
    text-decoration: none;
}

.sticky {
    background: #ffffff;
    padding: 18px 0;
}

.sticky .logo {
    color: #111;
    text-decoration: none;
}

.sticky .navbar-menu a {
    color: #111
}

.sticky .menu-toggle span {
    background-color: #111;
}

#home {
    height: 100vh;
    min-height: 500px;
    background: url(./asset/images/cover.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-animation: slide 10s linear infinite;
    animation: slide 10s linear infinite;
}

@-webkit-keyframes slide {
    0% {
        background-image: url(./asset/images/cover.jpg);
    }

    33% {
        background-image: url(./asset/images/cover2.jpg);
    }

    67% {
        background-image: url(./asset/images/cover3.jpg);
    }
}

@keyframes slide {
    0% {
        background-image: url(./asset/images/cover.jpg);
    }

    33% {
        background-image: url(./asset/images/cover2.jpg);
    }

    67% {
        background-image: url(./asset/images/cover3.jpg);
    }
}

#home .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    flex-direction: column;
}

#home .content {
    width: 100%;
    color: #ffffff
}

#home .content h1 {
    font-size: 60px;
    margin-bottom: 40px;
}

#home .content h1::after {
    content: "Hi I'm Phuong";
    -webkit-animation: textanim 10s linear infinite;
    animation: textanim 10s linear infinite;
}

@-webkit-keyframes textanim {
    25% {
        content: "I'm A Fullstack Developer";
    }
    50% {
        content: "I'm eager to learn anything";
    }
    75% {
        content: "Talk less, Do more"
    }
}

@keyframes textanim {
    25% {
        content: "I'm A Fullstack Developer";
    }
    50% {
        content: "I'm eager to learn anything";
    }
    75% {
        content: "Talk less, Do more"
    }
}

.sm .icon {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
    cursor: pointer;
}

.sm .icon:hover {
    color: #48dbfb;
}

#home .buttons a{
    text-decoration: none;
    display: inline-block;
    margin: 30px 30px;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    min-width: 150px;
    border: 1px solid #48dbfb;
    padding: 10px 0;
    border-radius: 6px;
    transition: .2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2) {
    background-color: #48dbfb;
    color: #ffffff;
}

#about {
    padding: 100px 0;
    background-color: #f1f1f1;
}

#about .section-title {
    text-align: center;
    color: #111;
    font-size: 26px;
    padding-bottom: 20px;
    position: relative;
    font-weight: 500;
    margin-bottom: 30px;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    bottom: 0;
    background-color: #111;
    left: calc(50% - 40px)
}

.section-title::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 15px;
    border: 4px solid #f1f1f1;
    background-color: #48dbfb;
    bottom: -5px;
    left: calc(50% - 10px);
}

.about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 100px;
}

.about-text {
    flex: 1;
}

.about-text h3 {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}

.about-text p {
    font-size: 17px;
    text-align: justify;
    line-height: 26px;
    margin-top: 20px;
}

.skills {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill {
    width: calc(50% - 20px);
    margin: 15px 0;
}

.skill-info {
    display: flex;
    justify-content: space-between;
}

.skill-bar {
    height: 3px;
    background-color: #ddd;
    margin-top: 14px;
    position: relative;
    border-radius: 2px;
}

.skill-bar::after {
    height: 6px;
    position: absolute;
    content: "";
    background-color: #48dbfb;
    width: 50%;
    bottom: -2px;
    border-radius: 2px;
}

.html::after {
    width: 75%;
}

.css::after {
    width: 75%;
}

.js::after {
    width: 70%;
}

.csharf::after {
    width: 60%;
}

.react::after {
    width: 70%;
}

.sql::after {
    width: 60%;
}

@media screen and (max-width: 980px) {
    .menu-toggle {
        display: block;
    }

    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        right: -1000px;
        background: #353b48;
        max-width: 300px;
        padding: 80px 50px;
        transition: .2s linear;
    }

    .navbar-menu a {
        display: block;
        font-size: 23px;
        margin: 20px 0; 
    }

    .sticky .navbar-menu {
        background-color: #f1f1f1;
    }

    .navbar-menu.active {
        right: 0;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform:  rotate(45deg);
        bottom: 14px;
    }

    #home .content h1 {
        margin-top: 50px;
        font-size: 40px;
    }

    .inner-width {
        max-width: 800px;
    }

    .about-pic {
        margin: 0 auto 60px;
    }

    .about-text {
        flex: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .inner-width {
        padding: 0 20px;
    }

    .skill {
        width: 100%;
    }
}